
@{
    ViewBag.Title = "Delete Doctor";
}
<div class="main">


<h2>Delete Doctor</h2>

<form method="post">
    <h3>Are you sure you want to delete doctor</h3>
    <button class="btn btn-danger" asp-action="Delete">Delete</button>
</form>
</div>
