@model dynamic

@{
    ViewBag.Title = "Delete Patient";
}
<div class="main">
    
<h2>Delete Patient</h2>

<form method="post">
    <h3>Are you sure you want to delete patient</h3>
    <button class="btn btn-danger" asp-action="Delete">Delete</button>
</form>
</div>
