
@{
    ViewBag.Title = "Delete Appointment";
}

<h2>Delete Appointment</h2>

<form method="post">
    <h3>Are you sure you want to delete Appointment</h3>
    <button class="btn btn-danger" asp-action="Delete">Delete</button>
</form>
